/** {
  margin: 0;
  padding: 0;
}

.header {
  background: url(../img/header-bg.jpg);
  min-height: 650px;
}

.fa fa-heart {
  display: inline-block;
}

.logo {
  display: inline-block;
}

.topnav {
  display: inline-block;
  float: right;
}

.topnav li {
  display: inline-block;
}

.topnav a {
  text-decoration: none;
}*/

/*@font-face {
    font-family: 'TrumpTownPro';
    src: url(../fonts/'TrumpTownPro-webfont.eot');
    src: url(../fonts/'TrumpTownPro-webfont.eot?#iefix') format('embedded-opentype'),
         url(../fonts/'TrumpTownPro-webfont.woff') format('woff'),
         url(../fonts/'TrumpTownPro-webfont.ttf') format('truetype'),
         url(../fonts/'TrumpTownPro-webfont.svg#TrumpTownPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrumpTownPro';
    src: url('../fonts/TrumpTownPro-webfont.eot');
    src: url('../fonts/TrumpTownPro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TrumpTownPro-webfont.woff') format('woff'),
         url('../fonts/TrumpTownPro-webfont.ttf') format('truetype'),
         url('../fonts/TrumpTownPro-webfont.svg#TrumpTownPro') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
  font-family: TrumpTownPro;
  src: url("fonts/TrumpTownPro.otf") format("opentype");
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

.logo {
  float: left;
}

.logo span {
  height: 36px;
  width: 45px;
  display: inline-block;
  background: url(../img/logo-icon.png); no-repeat 0px 0px;
  vertical-align: initial;
  margin-right: 7px;
}

.logo a {
  font-family: 'TrumpTownPro', sans-serif;
  color: #3A494C;
  font-size: 3em;
	text-transform: uppercase;
}

.top-header {
  padding: 3em 0;
}

.header {
  background: url(../img/header-bg.jpg);
  min-height: 650px;
}

.top-nav{
	float:right;
}
.top-nav ul li{
	display: inline-block;
	margin-left: 1em;
}
.top-nav ul li a{
	font-size: 1.3em;
	color: #3A494C;
	padding: 0.4em 1em;
	display: block;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	font-weight: 900;
}
.top-nav li.active> a, .top-nav li> a:hover {
	color: #A5D3DB;
	background:#3A494C;

}
.da-title h3{
	width:50%;
	letter-spacing: 0.03em;
	top: 80px;
    width: 20%;
    white-space: nowrap;
    z-index: 10;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #FFF;
    font-size: 4.5em;
    font-family: 'trump_town_proregular';
    text-transform: uppercase;
}

.top-service-grid{
	float:left;
	width:31.33%;
	float:left;
	margin-right:2%;
	text-align:center;
}
.top-service-grid:nth-child(3){
	margin-right:0;
}
.top-service-grid a{
	display:block;
}
.top-service-grid a span{
	font-size: 1.5em;
	color: #323232;
	font-family: trebuchet ms,'open_sansregular';
	font-weight: 900;
	margin:1em 0 0.6em 0;
	display:block;
}
.top-service-grid p{
	color:#5E5E5E;
	line-height:1.5em;
	width:90%;
	margin:0 auto;
}
.top-service-grids {
	padding: 7em 0;
}

/*---start-gallery-----*/
.recent-works {
	background: url(../img/portfolio-bg.jpg) no-repeat;
	padding: 4em 0;
}
